.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  height: $footerHeight;
  background: url(".././images/newFooter.jpg") center/cover no-repeat;

  &__logo {
    display: flex;
    margin: 0 auto;
  }

  @media (max-width: $padContentSize) {
    height: 206px;
    padding-bottom: 24px;
  }
}
